<footer>
    <h2>Fit Food</h2>
    <p>eat well live better</p>
    <p>© 2020 Fit Food Inc. All rights reserved. Privacy Policy</p>
    <div>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
    </div>
    <div id="edamam-badge" data-color="white"></div>
  </footer>
  <script src="/js/app.js"></script>