
.recipe-title h2 {
  font-size: 20pt;
  font-family: "Roboto Slab", serif;
  color: #646363;
}

.container h1 {
    font-size: 25px;
    padding-left: 30px;
    padding-top: 30px;
}

.section-title{
    font-size: 25px;
    padding-bottom: 10px;
    padding: 10px;

}

.section-title {
  font-size: 15pt;
  font-family: "Roboto Slab", serif;
  padding: 20px 20px;
  color: #fff;
  background-color: #eea849;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px;
}

.recipe-title {
  grid-area: recipe-title;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-title button {
  margin-top: 0;
  background-color: #fff;
}
.recipe-title button i {
  margin-right: 7px;
}

.recipe-img {
  grid-area: recipe-img;
  border-radius: 0;
}

.ingredients {
  grid-area: ingredients;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.ingredients ul {
  color: #646363;
  padding: 20px;
  background-color: #fff;
  height: 100%;
  margin-top: 5px;
}

.ingredients ul li {
  line-height: 20pt;
}
.circle-ingr {
  background-color: #646363;
  height: 7px;
  width: 7px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
}
.nutrition {
  grid-area: nutrition;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nutrition-details {
  margin-top: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 100%;
  background-color: #fff;
  
}

.nutrition-details div {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px 0;
  width: 27%;
  color: #646363;
}
.nutrition-details h3 {
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: #f46b45;
}

.nutrition-details h5 {
  font-size: 9pt;
}

.instructions {
  grid-area: instructions;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.instructions div {
  background-color: #fff;
  padding: 20px;
  margin-top: 5px;
  text-align: center;
  height: 100%;
}
.instructions button {
  margin-top: 0;
  background-color: #f46b45;
  color: #fff;
}

.container {
  width: 85%;
  height: 100%;
  margin: 50px auto;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "recipe-title recipe-title "
    "recipe-img ingredients"
    "recipe-img ingredients"
    "nutrition instructions";
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {

  .container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "recipe-title"
      "recipe-img"
      "ingredients"
      "nutrition"
      "instructions";
    grid-template-columns: 1fr;
  }

  .recipe-details-main {
    padding-top: 100px;
  }
  .nutrition-details {
    flex-direction: column;
  }
  .nutrition-details div {
    width: 100%;
    margin: 10px;
  }
}
