<section>
    <h1 class="ourMission">Our Mission</h1>
    <div class="aboutAppContainer">
        <div class="aboutApp">
            <!-- <h1 class="ourMission">Our Mission</h1> -->
            <span class="aboutAppPar">We focuse on providing the best way to access healthy food for a better life.
                <br><br>
                Through our recipes
                application..<br><br>
                you will get several suggestions for delicious recipes within the appropriate calorie limits</span>
        </div>
    </div>
</section>
<section class="aboutus">
    <h1 class="teamMembers">Team Members</h1>
    <div class="card">
        <img src="/img/roqaia.jpg" alt="Roukia Salahi" style="width:100%">
        <div class="aboutusContainer">
            <h4 class="develperName"><b>Roukia Salahi</b></h4>
            <p class=" developerPara">Engineer & Developer</p>
            <a href="https://github.com/roukiaSalahi"><i id="githubIcon" class="fab fa-github fa-2x"></i></a>
        </div>
    </div>
    <div class="card">
        <img src="/img/yahya.jpg" alt="Yahya Abukhaleel" style="width:100%">
        <div class="aboutusContainer">
            <h4 class="develperName"><b>Yahya Abukhaleel</b></h4>
            <p class=" developerPara"> Engineer & Developer</p>
            <a href="https://github.com/AbuKhalil95"><i id="githubIcon" class="fab fa-github fa-2x"></i></a>

        </div>
    </div>
    <div class="card">
        <img src="/img/abdallah.jpg" alt="Abdallah Safi" style="width:100%">
        <div class="aboutusContainer">
            <h4 class="develperName"><b>Abdallah Safi</b></h4>
            <p class=" developerPara">Engineer & Developer</p>
            <a href="https://github.com/AbdallahSafi"><i id="githubIcon" class="fab fa-github fa-2x"></i></a>
        </div>
    </div>
    <div class="card">
        <img src="/img/daoud.jpg" alt="Daoud Nazek" style="width:100%">
        <div class="aboutusContainer">
            <h4 class="develperName"><b>Daoud Nazek</b></h4>
            <p class=" developerPara">Engineer & Developer</p>
            <a href="https://github.com/daoudnazek"><i id="githubIcon" class="fab fa-github fa-2x"></i></a>
        </div>
    </div>
</section>