<main class="card-container">
    
  <section id="calorie-card">
    <form id="form-calories">
      <fieldset><legend>Calorie Calculator</legend>
        <label for="age">Age</label>
        <input id="age" name="age" type="number" value="18" required><br>
        <label for="weight">Weight</label>
        <input id="weight" name="weight" type="number" value="90" required><br>
        <label for="height">Height</label>
        <input id="height" name="height" type="number" value="180" required><br>
        <label for="gender">Gender</label>
        <div class="radio-container">
          <input type="radio" id="male" name="gender" value="male" required>
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label>
        </div>
      </fieldset> 
    </form>
    <div id="form-result">
      <h1 id="optimal-calories">0.0</h1>
      <h2>calorie per day</h2>
    </div>
    <!-- <label for="searchTerm">Search for:</label>
    <input id="searchTerm" type="text" size="30" value="" name="searchTerm">
    <select title="Search in" id="scope">
    </select>  -->
  </section>
</main>

