<main>
  <section id="bigImage">
    <h2>About Us</h2>
  </section>

  <section id="vision">
    <h1 class="card-title">Our Mission</h1>
    <div class="title-border">
      <span class="line-under"></span>
      <span class="circle-under"></span>
      <span class="line-under"></span>
    </div>
    <p>
      Our project is focused on providing the best way to access healthy food
      for a better life. Through our recipes application, the user will get
      several suggestions for delicious recipes within the appropriate calorie
      limits based on the raw food materials available to the user.
    </p>
  </section>

  <section id="ourTeam">
    <h1 class="card-title">Our Team</h1>
    <div class="title-border">
      <span class="line-under"></span>
      <span class="circle-under"></span>
      <span class="line-under"></span>
    </div>
    <div id="teamCards">
      <div class="hvr-bob">
        <img src="/img/roqaia.jpg" alt="Roukia Salahi" class="personalImage" />
        <h5 id="personalName">Roukia Salahi</h5>
        <h6 class="jobTitle">Engineer & Developer</h6>
        <a href="https://github.com/roukiaSalahi"
          ><i class="fab fa-github"></i
        ></a>
      </div>
      <div class="hvr-bob">
        <img
          src="/img/yahya.jpg"
          alt="Yahya Abukhaleel"
          class="personalImage"
        />
        <h5 id="personalName">Yahya Abukhaleel</h5>
        <h6 class="jobTitle">Engineer & Developer</h6>
        <a href="https://github.com/AbuKhalil95"
          ><i class="fab fa-github"></i
        ></a>
      </div>
      <div class="hvr-bob">
        <img
          src="/img/abdallah.jpg"
          alt="Abdallah Safi"
          class="personalImage"
        />
        <h5 id="personalName">Abdallah Safi</h5>
        <h6 class="jobTitle">Engineer & Developer</h6>
        <a href="https://github.com/AbdallahSafi"
          ><i class="fab fa-github"></i
        ></a>
      </div>
      <div class="hvr-bob">
        <img src="/img/daoud.jpg" alt="Daoud Nazek" class="personalImage" />
        <h5 id="personalName">Daoud Nazek</h5>
        <h6 class="jobTitle">Engineer & Developer</h6>
        <a href="https://github.com/daoudnazek"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
  </section>
</main>
